body {
    background: orange;
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
    max-width: 40%;
    min-width: 40%;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: aqua;
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border-radius: 20px;
    border: 10px solid aqua;
}
h1 {
    display: flex;
    align-items: center;
    color: red;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: red;
}

/* main container area beneath menu */
main {
    background: white;
    display: flex;
    border-radius: 20px; 
    border: 10px solid teal;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
    border-radius: 20px; 
    border: 10px solid orange;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px silver ridge;
    padding: 10px;
    border-radius: 20px;
    border: 10px solid teal;
    max-width: fit-content;
    text-align: left;
}
h2, h3 {
    margin: 0px;
}
.sen{
    color: black;
}

         /* portfolio styles */
         .content h1 {
            color: blue;
        }

        #portfolio {
            list-style-type: none;
            padding-left: 0;
        }

        #portfolio li {
            background: #fff;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        #portfolio li:hover {
            background: #eee;
        }

        #portfolio a {
            text-decoration: none;
            color: red;
        }

        body {
            margin: auto
        }


                    /* responsive web design */
                    @media screen and (min-width: 120px) and (max-width: 1080px) {
                        main {
                          height: 100ch;
                          zoom: 1.5;
                          display: grid;
                        }
          
                        h1 {
                          font-size: 44px;
                        }
          
                        h2 {
                          font-size: 42px;
                        }
          
                        h3 {
                          font-size: 36px;
                        }
          
                        #all-contents {
                          height: 100ch;
                          margin: auto;
                        }
          
                        a {
                          font-size: 42px;
                        }
          
                        .sidebar {
                          margin-right: 0px;
                          justify-content: center;
                          align-items: center;
                        }
          
                        .sidebar-img {
                          width: 100%;
                        }
          
                        p,
                        li {
                          font-size: 24px;
                        }
          
                        .content {
                          align-content: center;
                          justify-content: center;
                        }
                    }

                    body {
                      margin: auto;
                      max-width: 50px;
                    }